<!DOCTYPE html>
<html>
<head>
    <title>Anemia Sense</title>
</head>
<body>
    <h2>Anemia Prediction</h2>
    <form action="/predict" method="post">
        Hemoglobin: <input type="text" name="Hemoglobin"><br>
        RBC: <input type="text" name="RBC"><br>
        PCV: <input type="text" name="PCV"><br>
        MCV: <input type="text" name="MCV"><br>
        MCH: <input type="text" name="MCH"><br>
        MCHC: <input type="text" name="MCHC"><br><br>
        <button type="submit">Predict</button>
    </form>
</body>
</html>
